#
# All the relative URL paths are intended to be GitHub ones
# For Espressif's public projects please use '../../espressif/proj', not a '../proj'
#

[submodule "components/bt/controller/lib_esp32"]
	path = components/bt/controller/lib_esp32
	url = ../../espressif/esp32-bt-lib.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = ../../espressif/mbedtls.git

[submodule "components/lwip/lwip"]
	path = components/lwip/lwip
	url = ../../espressif/esp-lwip.git

[submodule "components/bt/host/nimble/nimble"]
	path = components/bt/host/nimble/nimble
	url = ../../espressif/esp-nimble.git

[submodule "components/esp_wifi/lib"]
	path = components/esp_wifi/lib
	url = ../../espressif/esp32-wifi-lib.git

[submodule "components/bt/controller/lib_esp32c3_family"]
	path = components/bt/controller/lib_esp32c3_family
	url = ../../espressif/esp32c3-bt-lib.git

[submodule "components/esp_phy/lib"]
	path = components/esp_phy/lib
	url = ../../espressif/esp-phy-lib.git

[submodule "components/heap/tlsf"]
	path = components/heap/tlsf
	url = ../../espressif/tlsf.git
